.vscode/
.mypy_cache/

ASK/
**/__pycache__/
*.pyc
metadata.csv

thesis/*.sty
thesis/*.log
thesis/*.aux
thesis/*.pdf
thesis/*.cls
thesis/*.png
thesis/*.gz
thesis/*.bb
thesis/*.xml
thesis/*.lof
thesis/duoforside.tex
thesis/*.lot
thesis/*.bcf
thesis/*.toc
thesis/*.bbl
thesis/*.blg
thesis/Doc/
