.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
/venv/
/results/
/slurm_logs/

/ASK/conll/
/ASK/conll-2-0/
/ASK/txt/
/ASK/xml/
__pycache__/
*.pyc
*.gz
parameters.bin

thesis/duo*.sty
thesis/*.log
thesis/*.aux
thesis/*.pdf
thesis/*.cls
thesis/*.png
thesis/*.gz
thesis/*.bb
thesis/*.xml
thesis/*.lof
thesis/duoforside.tex
thesis/*.lot
thesis/*.out
thesis/*.bcf
thesis/*.toc
thesis/*.bbl
thesis/*.blg
thesis/Doc/
.vscode/settings.json

*.egg-info/
*.h5
