.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
/venv/
/results/
/slurm_logs/
/models/
/notebooks/*.html
/notebooks/*.pdf
/notebooks/*.svg
/notebooks/gamle_illustrasjoner/

/ASK/conll/
/ASK/conll-2-0/
/ASK/txt/
/ASK/xml/
__pycache__/
*.pyc
*.gz
parameters.bin
/*.pkl
/*.out
/*.vec

/thesis/duo*.sty
/thesis/duoforside.tex
/thesis/build/
/thesis/DUO_UiO_segl.png
*.synctex(busy)
thesis/thesis.pdf
thesis/*.cls
thesis/*.gz
thesis/*.bb
thesis/*.xml
thesis/Doc/
.vscode/settings.json

*.egg-info/
*.h5
metrics.csv
sync-results.sh
notes.txt
